.card-Product{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    
   
  }
  .category{
    
  }
  /* .category-container{
    background-color: rgb(23, 145, 145);
    margin-top: 200px;
    margin-right: 200px;
    margin-bottom: 30px;
  } */
  .card-Product img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0px;
  }
  .card-Product-container  {
  background-color: rgb(197, 197, 197);
  width: 300px;
  border-radius: 10px;
  margin: 0 auto;
  }
  .card-Product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px; 
    column-gap: 3rem;
    gap: 4rem;
   
  }
  .product-card-body{
    padding: 15px;
    font-size: 16px;
    color: rgb(51, 51, 51);
  }
  .headProduct{
  color: rgb(8, 122, 122);
  font-size: 40px;
  }

  .fa-cart-shopping{
    margin-left: 150px;
    cursor: pointer;
    text-align: right;
    float: right;
  }
  /* ProductDetail.css */
/* .product-container{
  background-color: burlywood;
  align-items: center;
  justify-content: center;
  display: flex;
} */
.product-category{
  display: flex;
  align-items: center;
  align-items: center;
  padding: 30px;

  
}
.product-image img{
  width: 300px;
  margin-left: 49px;
}
.product-container{
 
  justify-content: center;
  align-items: center;
  display: flex;
}
.related-products{
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px; 
    column-gap: 3rem;
    gap: 4rem;
}
.related-products{
  padding-top: 80px;
  text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.detail-body{
  padding-right:20px;
}


/* fetch list */
/* Add these styles to your CSS file */
.card {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  max-width: 100%;
  height: 200px;
}

.card .item-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.card .item-description {
  font-size: 1rem;
  margin: 5px 0;
}

.card .item-price {
  font-size: 1.2rem;
  color: #f00; /* Change the color to your preference */
  margin-top: 10px;
}
.fetched-items{
  margin: 100px;
  max-width:900 ;
  display: flex;
  /* justify-content: center; */
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

  @media screen and (max-width: 600px){
    .card-Product {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px; 
        column-gap: .1rem;
       
      }
      .card-Product-container {
        background-color: rgb(197, 197, 197);
        width: 300px;
        border-radius: 10px;
        }
        /* .category-container{
            margin-top: 200px;
            margin-right: 0px;
           
          } */
    }