.products {
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
}

.productlist-Container {
  display: flex;

}

.productlist-content {
  padding: 50px;
}

.product-image img {
  width: 600px;
  height: 500px;
  border-radius: 15px;
}

.quantity {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.quantity label {
  margin-right: 5px;
}
